[workflows]
runButton = "Start Development Server"

[[workflows.workflow]]
name = "Start Development Server"
author = 45422785
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[nix]
channel = "stable-24_05"

[nix.env]
PATH = "/nix/store/.../bin:$PATH"

[[nix.packages]]
name = "nodejs_20"

[[nix.packages]]
name = "npm"
